[settings]
activate_aggressive = true

[env]
# Mise uses this variable for its own GitHub API calls (to avoid rate limits)
# and also makes it available in the terminal.
MISE_GITHUB_TOKEN = {{ .github_token | quote }}

[tools]
node = "lts"
neovim = "latest"
fzf = "latest"
zoxide = "latest"
eza = "latest"
zellij = "latest"
fd = "latest"
ripgrep = "latest"
bat = "latest"
lazygit = "latest"
starship = "latest"
gemini-cli = "latest"
